html{
    font-size: 100%;

}

body{
    background:rgba(237, 242,247, 1);
    color: #24292e;
    font-family: "-apple-system";
}

a{
    text-decoration: none;
}

p{
    font-size: 0.9rem;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
    font-size: 0.9rem;
    font-weight: 50;
}

.site-title a{
    color: #24292e;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1px;
    font-family: 'Roboto Condensed', sans-serif;
}

.sec-title{
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}


.wrapper{

    width: 90%;
    margin: 50px auto;
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* ボックスの並べ方 */
.left{
    border-radius: 10px;
    width: 70%;
    padding: 3%;
    background-color: #fff;
    margin-left: 0;
}


/* 右の絡む */
.right{
    justify-content: center;
    border-radius: 10px;
    width: 25%;
    background-color: #edf2f7;
    margin-left: 0;
}

.list{
    padding: 5%;
    background-color: #fff;
    margin-bottom: 20%;
    border-radius: 10px;

}

.mokuji{
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
}


.box{
    margin-bottom: 100px;
}







/* header  */

.showcase{
    width: 100%;
    height: 60vh;
    background-color: #fff;
    display: flex;
}

.showcase header{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 5%;
    background-color:rgba(255, 255, 255, 0.5);


}

.showcase img{

    width: 100%;
    object-fit: cover;
    opacity: 1;

}


#header ul{
    display: flex;
    padding-top: 5px;
    align-items: center;

}

#header .folder{
    margin-left: auto;
}


#header .folder li{
    font-size: 0.8rem;
    margin-left: 25px;
    margin-bottom: 5px;
}

#header .folder a{
    color: #24292e;
    transition:  all 0.3s;
}

#header .folder a:hover{
    opacity: 0.5;
}

.folder .icon{
    width: 23px;
    margin-top: 3px;


}
.site-title .icon{
    margin-right: 5px;
    width: 25px;
    border-radius: 50%;

}


/* main写真 */
.main{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 5%;
    padding: 3% 0;
    border-radius: 10px;
}

#main img{
    border-radius: 50%;

}

.photo{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    margin: auto 8%;
}


/* 自己紹介 */
.intro{
    margin: 3% auto;
    width:70%;
}



/* about  */
#about ul{
    margin-bottom: 0;

}
#about ul li{
    line-height: 2em;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1rem;
}

#about ul li:first-child{
    margin-top: 20px;
}

.container{
    align-items: center;
    margin: 20px auto 0 auto;
    max-width: 900px;
    aspect-ratio: 16/9;
}

.container iframe{
    width: 100%;
    height: 100%;
}

#about figure{
    margin-top: 40px;
    margin-bottom: 80px;
}

#about figure{
    text-align: right;
}



/* photo  */
#photo ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

#photo ul li{
    width: 31%;
    margin-bottom: 23px;
}



#photo img{
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.7s ease ;

}

#photo img:hover{
    margin: 0 auto;
    transform: scale(1.4,1.4);

}


#photo img:active{
    transform: scale(2.3,2.3);
}











/* profile  */

#profile li{
    margin:0 0 10px 30px;
    text-align: left;
}

/* news */

#news dl{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c8c8c8;
}

#news dt{
    width: 30%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;

}

#news dd{
    width: 70%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;

}

#news dd a{
    transition: all 0.3s;
    cursor: pointer;
    color: #000;

}

#news dd a:hover{
    opacity: 0.8;
    border-bottom: 1px solid #4169e1;
    color: #4169e1;
}


/* contact */

#contact p{
    text-align: center;
    margin-bottom: 30px;
}


#contact dl{
    display: flex;
    flex-wrap: wrap;
}


#contact dt{
    width: 20%;
    margin-left: 5px;
}

#contact dd{
    width: 75%;
    margin-bottom: 10px;
}


#contact dd input,
#contact dd textarea{
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 10px;
}

#contact textarea{
    height: 10rem;
}

#contact .button{
    text-align: center;
    margin-top: 10px;
}

#contact .button input[type="submit"]{
    background-color: #1e90ff;
    border: 1.5px solid #1e90ff;
    color: #fff;
    width: 150px;
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 10px 40px 30px 40px;

}

#contact .button input[type="reset"]{
    background-color: #686464;
    border: 1.5px solid #696969;
    color: #fff;
    width: 150px;
    padding: 10px 0;
    transition: all 0.3s;
    cursor: pointer;

}


#contact .button input:hover{
    background-color: #fff;
    color: #000;

}











footer {

    padding: 10px 0;
    text-align: center;
    background-color: #f0f8ff;
}


footer h3{
    font-size: 1rem;
    margin-bottom: 5px;
}

footer p {
    font-size: 0.5rem;

}




@media screen and (max-width:1000px){
    .left{
        width: 100%;
    }

    .right{
        display:none;
    }

    .showcase{
        width: 100%;
        height: 50vh;
        background-color: #fff;
        display: flex;
    }
}




/* sp  */
@media screen and (max-width:600px){


    p{
        font-size: 0.8rem;

    }

    li{
        font-size: 0.9rem;
    }




    .sec-title{
        margin: 30px 0;
    }

    .wrapper{
        width: 100%;
        padding: 0;
        margin: 0;

    }

    .left{
        border-radius: 0px;
    }




    .site-title{
        margin-top: 15px;
        margin-bottom: 0px;
        padding-bottom: 0;

    }

    .site-title ul a{
        vertical-align: sub;

    }


    .showcase{
        width: 100%;
        height: 30vh;
        background-color: #fff;
        display: flex;
    }

    #header{
        flex-direction: column;
        height: auto;
        line-height: 15px;
        padding-bottom: 5px;
    }

    #header .folder li{
        justify-content: space-around;
        margin-left:0 5px 0 10px;
        font-size: 0.8rem;
    }

    .folder {
        margin: auto;
    }

    .folder .icon{
        width: 20px;
    }

    .site-title .icon{
        width: 25px;
    }



    .left{
        width: 100%;
    }
    /* main  */


    .main{
        background-color: #fff;
        width: 100%;
        margin: 3% 0;
        border-radius: 0;
    }

    #main img{
        width: 100%;
        height: auto;

    }


    /* about  */




    #about ul li{
        font-size: 0.9rem;
        padding: 0 4%;
    }



    /* photo */
    #photo ul li{
        width: 49%;
    }

    #photo img:hover{
        margin: 0 auto;
        transform: scale(1.1,1.1);

    }

    #photo img:active{
        transform: scale(1.3,1.3);

    }

    /* news */


    /* contact  */
    #contact dl{
        flex-direction: column;
    }

    #contact dt{
        width: 100%;
        margin-bottom: 10px;

    }
    #contact dd{
        width: 100%;
    }






}

@media screen and (max-width:450px){


    .main{
        flex-direction: column;
    }

    .photo{
        margin: auto;
        padding: 0;
        width: 20%;
    }

    .intro{
        padding: 6%;
        margin: 0;
        width: 100%;
    }


    .sec-title{
        margin: 30px 0;
    }

    .wrapper{
        width: 100%;
        padding: 0;
        margin: 0;

    }

    .folder li a{
        font-size: 0.7rem;
    }


    #header .folder li{
        margin: 0 10px;
    }


}
